body {
    margin: 0;
    padding: 0;
}

.ui-loader {
    display: none;
}

#main {
    display: block;
    position: fixed;
    background-color: #222222;
}

canvas {
    position: fixed;
	background: transparent;
}

#canvas-background {
    z-index: 1;
}

#canvas-blocks {
    z-index: 2;
}

#canvas-balls {
    z-index: 3;
}

#header {
    position: fixed;
    font-family: Tahoma;
    background-color: #222222;    
    color: #FFFFFF;
    text-align: center;
}

#reload {
	position: fixed;
	cursor: pointer;
}

#message {
    position: fixed;
    font-family: Courier New;
    background-color: #222222;    
    color: red;
    text-align: center;
}
